.banner {
    position: relative;
    z-index: -1;
}

.banner-image {
    min-height: 100vh;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.banner-image:before {
    position: absolute;
    content: '';
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2));
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;
    font-weight: bold;
}

.stack {
    display: grid;
    grid-template-columns: 1fr;
}

.stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 5rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
    color: var(--white);
    text-shadow: 2px 3px 0 var(--black);
}

.stack span:nth-child(odd) {
    --glitch-translate: 38px;
}

.stack span:nth-child(even) {
    --glitch-translate: -38px;
}

@keyframes stack {
    0% {
        opacity: 0;
        transform: translateX(-50%);
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    }

    60% {
        opacity: 0.5;
        transform: translateX(50%);
    }

    80% {
        transform: none;
        opacity: 1;
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    100% {
        text-shadow: none;
    }
}

@keyframes glitch {
    0% {
        text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
        transform: translate(var(--glitch-translate));
    }

    2% {
        text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }

    4%, 100% {
        text-shadow: none;
        transform: none;
    }
}
