.contact-container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	align-items: center;
	align-content: center;
	column-gap: 1rem;
}

.panel.panel-default {
    background: var(--dark-gray);
    padding: 25px;
    border-radius: 5px;
    border-left: solid 5px var(--red);
    position: relative;
    margin-bottom: 25px;
    width: 100%;
    transition: 0.5s;
}

.panel.panel-default:hover {
    border-left: solid 5px var(--text);
}

.panel-title a {
    color: var(--text);
    text-decoration: none;
    font-size: 18px;
}