.contact-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: start;
	align-items: center;
	align-content: center;
	column-gap: 1rem;
}

.contact-item {
	background: var(--dark-gray);
	padding: 45px;
	border-radius: 5px;
	position: relative;
	text-align: center;
}

.contact-content {
	text-align: center;
	font-size: 50px;
}

.contact-content i {
	transition: 0.5s;
	color: var(--purple);
}

.contact-content i:hover {
	color: var(--vue);
}

.contact-content:hover {
	color: var(--vue);
	cursor: pointer;
}