.skill-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	column-gap: 1rem;
    row-gap: 1rem;
    flex-flow: row wrap;
    overflow: auto;
}

.skill-item {
	background: var(--dark-gray);
	padding: 50px;
	border-radius: 5px;
	position: relative;
	text-align: center;
    flex: 1 1;
}

.skill-item:hover {
	cursor: pointer;
}

.skill-item i:hover {
	color: var(--vue);
}

.skill-content {
	text-align: center;
	font-size: 50px;
}