.skill-container {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    row-gap: 45px;
    column-gap: 45px;
}

.skill-item {
	background: var(--dark-gray);
	padding: 50px;
	border-radius: 5px;
	position: relative;
	text-align: center;
}

.skill-item:hover {
	cursor: pointer;
}

.skill-item i {
	color: var(--red);
}

.skill-item i:hover {
	color: var(--text);
}

.skill-content {
	text-align: center;
	font-size: 50px;
}